body{
    margin: 0px;
    padding: 0px;    
}

#titulo{
    color:white;    
}

#tituloAluno{
    margin-bottom: 3%;
    color: white;
}

#corpoAluno{
    margin-top: 2%;
}

#corpoGabarito{
    border: 0px;   
    text-align: center;
    margin: 0px;
    position: relative;
}

#corpoCadastro{
    color: white;
    background-color: #4682B4;
    text-align: center;    
    box-shadow: 0px 1px #386c97;
}

#topo{
    background-color: #4682B4;    
    text-align: center;
    height: 120px;
}

#materia{
    margin-bottom: 1%;
    border: none;
    border-radius: 5px;    
    height: 30px;
}

#gabarito{
    margin-bottom: 1%;
    border: none;
    border-radius: 5px;    
    height: 30px;
}

#questoes{
    margin-top: 4%;
    margin-bottom: 3%;
}

#btnPadrao{
    border: none;
    color: white;
    background-color:#4682B4;
    width: 90px;
    height: 30px;
}

#btnJson{
    border: none;
    color: white;
    background-color:#d1c237;
    width: 110px;
    height: 30px;
}

#btnAprovados{
    border: none;
    color: white;
    background-color: limegreen;
    width: 150px;
    height: 30px;
}

#btnAprovados1{
    border: none;
    color: white;
    background-color: limegreen;
    width: 200px;
    height: 30px;
}
#btnJson:hover{    
    background-color:#b6a830;    
}

#btnPadrao:hover{
    background-color:#386c97;   
}

#txtPadrao{    
    width: 300px; 
    height: 40px;  
    border-width: 1px;
    border-color: lightgray;
    margin-bottom: 2%;   
}

#cadastroAlunos{
    text-align: center;
    margin-bottom: 13%;
    margin-top: 8%;
}

#corpoAluno{
    text-align: center;
}

#topoPadrao{
    text-align: center;
    background-color: #4682B4;
}

#topoProva{
    text-align: center;
    background-color: #4682B4;
    margin-bottom: 3%;
    position: relative;
}

#corpoProva{
    text-align: center;
    margin-top: 3%;
}

#corpoMateria{
    text-align: center;
    margin-top: 3%;
}

footer{
    height: 100px;
}